@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<script src="~/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script>
    let emp = null;
    var url = substr(5, location.pathname);
    $.get(
        url
    ).done(function (data) {
        let ad = data;
        emp = ad.employer;
        $('.adstitle').html(ad.title);
        $('.adssalary').html('Зарплата: ' + ad.salary + ' KZT');
        $('.adscompany').html('Компания: ' + emp.companyName);
        $('.adsinfo').html(ad.description);
        $('.contact-name').html(emp.firstName + " " + emp.lastName);
        $('.contact-email').html('Почта: ' + emp.email);
        let userName = '@HttpContextAccessor.HttpContext.Session.GetString("Name")';
        let role = '@HttpContextAccessor.HttpContext.Session.GetString("Role")';
        let id = '@HttpContextAccessor.HttpContext.Session.GetInt32("Id")';
        if (id > 0) {
            $.get(
                '/users/employers/id=' + id
            ).done(function (employer) {
                if (employer.email == emp.email) {
                    $('.adsblock').append('<ul style="margin-top: 20px;">' +
                        '<li style="margin-bottom: 15px; list-style-type: none;" class="changeadstitleli"><button type="button" id="changeadstitlebtn" class="signout hoverbtn">Изменить заголовок</button></li>' +

                        '<li style="margin-bottom: 15px; list-style-type: none;" class="changeadssalaryli"><button type="button" id="changeadssalarybtn" class="signout hoverbtn">Изменить зарплату</button></li>' +

                        '<li style="margin-bottom: 15px; list-style-type: none;" class="changeadsdescli"><button type="button" id="changeadsdescbtn" class="signout hoverbtn">Изменить описание</button></li></ul>');

                    $('#changeadstitlebtn').click(function () {
                        $('.changeadstitleli').append('<h5 id="changeadstitleinfo"></h5><form id="changeadstitle-form"><input type="text" id="newadstitle" style="font-size: 17px; padding: 3px 0;"><br><br><button type="submit" class="signout hoverbtn" style="background-color: dodgerblue">Отправить</button></form>');
                        $('#changeadstitle-form').submit(function (e) {
                            e.preventDefault();
                            ad.title = $('#newadstitle').val();
                            $.ajax({
                                method: "PUT",
                                headers: {
                                    'Authorization': "Bearer @HttpContextAccessor.HttpContext.Session.GetString("Token")"
                                },
                                async: false,
                                url: "/advertisements/id=" + ad.advertisementId + "/update",
                                data: JSON.stringify(ad),
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    window.location.reload();
                                },
                                error: function (data) {
                                    $('#changeadstitleinfo').html("<span style='color: crimson;'>Failed to update password</span>");
                                }
                            });
                        });
                    });



                    $('#changeadssalarybtn').click(function () {
                        $('.changeadssalaryli').append('<h5 id="changeadssalaryinfo"></h5><form id="changeadssalary-form"><input type="number" id="newadssalary" style="font-size: 17px; padding: 3px 0;"><br><br><button type="submit" class="signout hoverbtn" style="background-color: dodgerblue">Отправить</button></form>');
                        $('#changeadssalary-form').submit(function (e) {
                            e.preventDefault();
                            ad.salary = $('#newadssalary').val();
                            $.ajax({
                                method: "PUT",
                                headers: {
                                    'Authorization': "Bearer @HttpContextAccessor.HttpContext.Session.GetString("Token")"
                                },
                                async: false,
                                url: "/advertisements/id=" + ad.advertisementId + "/update",
                                data: JSON.stringify(ad),
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    window.location.reload();
                                },
                                error: function (data) {
                                    $('#changeadssalaryinfo').html("<span style='color: crimson;'>Failed to update password</span>");
                                }
                            });
                        });
                    });

                    $('#changeadsdescbtn').click(function () {
                        $('.changeadsdescli').append('<h5 id="changeadsdescinfo"></h5><form id="changeadsdesc-form"><textarea id="newadsdesc" style="font-size: 15px;"></textarea><br><br><button type="submit" class="signout hoverbtn" style="background-color: dodgerblue">Отправить</button></form>');
                        $('#changeadsdesc-form').submit(function (e) {
                            e.preventDefault();
                            ad.description = $('#newadsdesc').val();
                            $.ajax({
                                method: "PUT",
                                headers: {
                                    'Authorization': "Bearer @HttpContextAccessor.HttpContext.Session.GetString("Token")"
                                },
                                async: false,
                                url: "/advertisements/id=" + ad.advertisementId + "/update",
                                data: JSON.stringify(ad),
                                contentType: "application/json; charset=utf-8",
                                success: function (data) {
                                    window.location.reload();
                                },
                                error: function (data) {
                                    $('#changeadsdescinfo').html("<span style='color: crimson;'>Failed to update password</span>");
                                }
                            });
                        });
                    });
                }
            });
        }
        if (userName !== '') {
            let role = '@HttpContextAccessor.HttpContext.Session.GetString("Role")';
            let resume = null;
            if (role !== '') {
                $.get(
                    '/users/students/id=@HttpContextAccessor.HttpContext.Session.GetInt32("Id")/resume'
                ).done(function (data) {
                    alert(JSON.stringify(data));
                    resume = data;
                });
            }
            const hubConnection = new signalR.HubConnectionBuilder()
                .withUrl("/chat")
                .build();
            // получение сообщения от сервера
            hubConnection.on('Send', function (message, userName) {
                console.log(message + " " + userName);
                $('#chatroom').append("<p><span style='font-weight:bold;'>" + userName + "<span>: " + message + "</p><br>");
            });
            hubConnection.on('SendResume', function (url) {
                $.get(
                    url
                ).done(function (data) {
                    $('#chatroom').append('<form style="margin: 20px 0;" action="' + url + '" method="post" enctype="multipart/form-data">' +
                        '<button type="submit" class="signout hoverbtn" style="background-color: mediumspringgreen; pad"> ' + data.name + '</button></form>');
                });
            });
            $("#sendBtn").click(function (e) {
                let message = document.getElementById("message").value;
                hubConnection.invoke("Send", message, userName, emp.firstName, role);
            });
            $("#sendResumeBtn").click(function (e) {
                if (resume === null) {
                    $('#resumeerror').html("Sorry, but you don't have your resume uploaded in profile");
                }
                else {
                    let url = "/users/students/id=@HttpContextAccessor.HttpContext.Session.GetInt32("Id")/resume";
                    hubConnection.invoke("SendResume", url);
                }
            });
            hubConnection.start();
        }
    });
</script>
<style>
    .adsblock {
        font-family: Bahnschrift, Arial, serif;
        padding: 20px;
        border: 2px solid black;
        background: rgba(0,0,0,0.8);
        color: white;
    }

    .adstitle {
        font-style: italic;
        font-size: 2.5em;
    }

    .adssalary {
        margin-left: 30px;
        font-size: 20px;
        color: dodgerblue;
    }

    .adscompany {
        font-size: 25px;
        font-weight: bold;
        margin: 30px 0;
        color: crimson;
        margin-left: 30px;
    }

    .contact-list {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 10px;
        list-style-type: none;
    }

    .adsinfo {
        padding: 10px;
        font-size: 1.3em;
        color: black;
    }
</style>
<div class="adsblock">
    <h1 class="adstitle" style="margin: 20px 0;"></h1>
    <div class="adssalary" style="margin: 20px 0;"></div>
    <div class="adscompany" style="margin: 20px 0;"></div>
    <div class="adsinfo" style="margin: 20px 0; color: white;">
    </div>
    <ul class="contact-list" style="margin: 20px 0;">
        <h2 class="contact-title">Контакты:</h2>
        <li class="contact-name"></li>
        <li class="contact-email"></li>
    </ul>
    <div class="chat">
        <h4>Написать</h4>
        <div id="chatroom" style="border: 2px solid black; padding: 20px; max-width: 50%; margin: 20px; background: white; color: black;"></div>
        <div id="inputForm" style="margin-bottom: 30px">
            <textarea placeholder="Введите здесь сообщение..." type="text" id="message" style="background: black; border: none; color: white; padding: 15px; font-size: 18px;"></textarea>
            <button type="button" id="sendBtn" class="signout hoverbtn" style="background: dodgerblue; padding: 10px 20px; margin-left: 20px;">Отправить</button>
            @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("Role")))
            {
                <button type="button" id="sendResumeBtn" class="signout hoverbtn" style="background: dodgerblue; padding: 10px 20px; margin-left: 20px;">Отправить резюме</button>
                <h3 id="resumeerror" style="color: crimson; margin-left: 20px; margin-top: 20px"></h3>
            }
        </div>
    </div>
</div>